/* цвет основного текста #757575 */
/* вторичный цвет #212121*/
/* акцент #2196F3 */

/* белый #FFFFFF */
/* белый вторичный rgba(255, 255, 255, 0.6) */

/* первичный шрифт Roboto 400 500 700 900 */
/* вторичный шрифт Raleway 700*/


:root {
    --primari-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-white-color: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--primary-white-color);
    color: var(--primari-text-color);

    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Утилиты */

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red;   
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}        


/* Header */

/* Logo */

.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.accent {
    color: #000000;
}

.accent.current {
    color: var(--primary-white-color); 
}

/* Nav, contact */
 
.main-nav {
    display: flex;
    align-items: center;
}

.site.list {
    display: flex;   
    margin-left: 93px;
}

.contact.list {
    display: flex;
    margin-left: auto;
}

.contact-item {
    display: flex;
    align-items: center;
}

.site.list .nav-link,
.contact.list .contact-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site.list .nav-item + .nav-item,
.contact.list .contact-item + .contact-item {
    margin-left: 50px;
}
/* .site.list .nav-item:not(:last-child) {
    margin-right: 50px;
} */

.nav-link {
    color: var(--title-text-color);
    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-link {
    color: var(--primari-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.icon-envelope {
    display: inline-block;
    fill: currentColor;
    margin-right: 10px;
}

.icon-smartphone {
    display: inline-block;
    fill: currentColor;
    margin-right: 10px;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
} 

.nav-link.current {
    color: var(--accent-color);
}

/* Стили для index.html */
/* Hero */

.hero {
    padding: 200px 0;

}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../image/overlay.png"), url("../image/hero.jpg"), url("../image/bg.png");
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    text-align: center;

    color: var(--primary-white-color);   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 10px 32px;
    border: 1px solid transparent;

    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: inherit;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
}

/* Sections */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Features */

.feature {
    display: flex;
}

.feature-item {
    width: calc((100% - 3 * 30px) / 4);
    margin-right: 30px;
}

.feature-item:last-child {
    margin-right: 0;
}

.feature-group {
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.feature-icon {
    display: inline-block;
}

.feature-title {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
        
    color: var(--title-text-color);
    
    font-size: 14px;
    line-height:1.14;
    text-transform: uppercase;
}

.feature-text {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    line-height: 1.71;
}

/* Our work */

.works {
    padding-top: 0;
}

.work {
    display: flex;
    padding-top: 0;
}

.work-item {
    width: 370px;
    margin-right: 30px;
}

.work-item:nth-child(3n) {
    margin-right: 0;
}

/* Our team */

.card {
    background-color: var(--primary-white-color);
}

.card-content {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.teams {
    background-color: #F5F4FA;
}

.team {
    display: flex;
}

.team-item {
    width:calc((100% - 3 * 30px) / 4);
    margin-right: 30px;
}

.team-item:nth-child(4n) {
    margin-right: 0;
}

.team-name {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-description {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-social {
    display: flex;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
}

.team-social-item {
    margin-right: 10px;
}

.team-social-item:nth-child(4n) {
    margin-right: 0;
}

.team-social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    background-color: var(--primary-white-color);
    border-radius: 50%;
    fill: #AFB1B8;
}

.team-social-icon {
    display: inline-block;
    flex-shrink: 0;
}

.team-social-link:hover {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
}


/* Our clients */

.client {
    display: flex;
    margin: 0;
    padding: 0;
}

.client-item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;
    margin-right: 30px;

    color: solid var(--primary-white-color);
    fill: #AFB1B8;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
}

.client-icon {
    display: inline-block;
} 

.client-item:nth-child(6n) {
    margin-right: 0;
} 

.client-item:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}


/* Стили для portfolio.html */
/* Our projects */

/* Button projects */

.project-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-item {
    margin-left: 8px;
}

.button-item:first-child {
    margin-left: 0;
}

.primary-button {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    border: 1px solid transparent;

    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: inherit;
    cursor: pointer;
        
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.secondary-button {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 103px;
    border: 1px solid transparent;
    
    background-color: #F5F4FA;
    color: var(--title-text-color);
    font-family: inherit;
    cursor: pointer;
        
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.secondary-button:hover,
.secondary-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

/* Projects */

.project {
    display: flex;
    flex-wrap: wrap;

    background-color: var(--primary-white-color);
}

/* calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке) */
.project-item {
    width: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}
/* Альтернатива */
/* .project-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
} */

.project-item:nth-child(3n) {
    margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.project-item:hover,
.project-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

/* Альтернатива */
/* .project-item:not(:nth-child(3)) {
    margin-right: 30px;
}
или
.project-item:not(:nth-last-child(-n + 3)) {
    margin-right: 30px;
} */

.project-content {
    border: 1px solid #EEEEEE;
    border-top: transparent;
    padding: 20px 24px;
}

.project-name {
    margin-top: 0;
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-position {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.88;
}


/* footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;
}

.address-info {
    margin-top: 20px;
    font-style: normal;
}

.address-item {
    margin-bottom: 9px;
}

.address-item:last-child {
    margin-bottom: 0;
}

.address-link {
    color: var(--primary-white-color);

    line-height: 1.71;
    font-style: normal;
    text-decoration: none;
}

.address-link.current {
    color: var(--secondary-white-color);
}

.address-link.current:hover,
.address-link.current:focus {
    color: var(--accent-color);
}

/* присоединяйтесь */

.cummon {
    margin-top: 10px;
    margin-left: 70px;
    width: 206px;
    height: 80px;
}

.cummon-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--primary-white-color);

    margin-top: 0;
    margin-bottom: 20px;
}

.footer-content {
    display: flex;
    align-items: stretch;
}

.cummon-social {
    display: flex;
    /* margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px; */
}

.cummon-social-item {
    margin-right: 10px;
}

.cummon-social-item:nth-child(4n) {
    margin-right: 0;
}

.cummon-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: var(--primary-white-color);
}

.cummon-social-icon {
    display: inline-block;
    flex-shrink: 0;
}

.cummon-social-link:hover,
.cummon-social-link:focus {
    background-color: var(--accent-color);
}

